div.admonition.coreguidelines {
  border-color: #8f5194;
}
div.admonition.coreguidelines > .admonition-title {
  background-color: #f7d4fa;
  color: #222832;
}
div.admonition.coreguidelines > .admonition-title:after {
  color: #8f5194;
  content: "\f2db";
}
